services:
  db:
    image: postgres:17-alpine
    container_name: proyecto05breeze

    environment:
      POSTGRES_DB: proyecto05breeze
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
