<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/">HOME | </a>
                <a href="/formLogin">LOGIN | </a>
                <a href="/formRegister">REGISTER | </a>
            </ul>
        </nav>
    </header>

    <h1> PRACTICA SESIONES EXAMEN 02 </h1>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>