{% extends 'layout.html.twig' %}

{% block content %}

    <form action="/saveShop" method="post">
        <div>
            <textarea name='dataShop' placeholder="escribe aqui...." > {{ dataShop }} </textarea>
        </div>
    
        <button type="submit">save</button>
    </form>
    
    <a href="/">Volver</a>

{% endblock %}