<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>REPASO SESIONES + BBDD</h1>
        <nav>
            <ul>
                {% if is_logged %}
                    <a href="/">Home |</a>
                    <a href="/logOut">Logout|</a>
                    <a href="/shop">Compra</a>
                    <hr>
                    <li>User Connect: {{ name }} </li>
                {% else %}
                    <a href="/">Home |</a>
                    <a href="/formLogin">Login |</a>
                    <a href="/formRegister">Registro</a>
                {% endif %}
            
            </ul>
        </nav>
    
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>