<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi sitio Web con Twig {% endblock %}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>

        <nav>

        
            <ul>
                <li>
                    <a href="/"> Inicio | </a> <a href="/about"> Acerca de nosotros | </a>  <a href="/productos"> Productos | </a> 
                </li>
            </ul>
            

        
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>